@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   
    font-family: 'SF Mono', sans-serif;
    box-sizing: border-box;
    user-select: none;
                                                
}
html { scroll-behavior: smooth; }